//font-family variables
$family-sans: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif
$family-serif: Georgia, Cambria, "Times New Roman", Times, serif
// $responsive:
//Reset
html, body, div,
h1, p,a
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  //body
body
  margin: 0
  overflow-x: hidden
  word-break: break-word
  font-family: $family-serif
// box-sizing
*
  &,
  &::before,
  &::after
    box-sizing: border-box
/**
 * Remove the gray background on active links in IE 10.
 */
a
  background-color: transparent
  border-style: none
a:focus
  text-decoration: none

//style
//header style
.header
  background-color: rgba(240, 219, 79, 1)
  &__container
    max-width: 1072px
    margin-left: auto
    margin-right: auto
    padding-left: 20px
    padding-right: 20px
    padding-top: 20px
    padding-bottom: 5px
  &__menuone
    height: 65px
    position: relative
    display: flex
    margin-top: -5px
    &--left
      position: relative
      flex: 5
    &--leftmenu
      position: relative
      display: flex
    &--leftlogo
      width: 35px
      height: 35px
      background-color: #504000
      margin-right: 20px
    &--leftlogo .logo
      font-size: 26px
      padding-top: 2px
      padding-left: 4px
      font-weight: 700
      color: rgba(240, 219, 79, 1)
      font-family: $family-serif
    &--leftheight
      position: relative
      border-right: 1px solid rgba(#000, .15)
      height: 28px
      margin-right: 20px
      margin-top: 3px

    &--leftcontent
      font-size: 20px
      font-weight: 700
      font-family: $family-serif
      text-transform: capitalize
      letter-spacing: normal
      line-height: 20px
      margin: 5px 20px 5px 0px
      text-overflow: ellipsis
      white-space: nowrap
      color: rgba(#000, .68)

    &--leftfollow
      position: relative
    &--right
      flex: 1

    &--rightmenu
      position: relative
      display: flex
    &--rightsignin
      position: relative
      flex: 1
      margin: 10px auto
      font-size: 16px
      line-height: 16px
      text-overflow: ellipsis
      white-space: nowrap
      margin-right: 16px
  &__menutwo
    position: relative
    margin-top: -30px
    margin-left: -50px
    &--menu .menuitem .menulist
      list-style: none
      display: inline-block
      margin: 0 10px
      text-transform: uppercase
      font-size: 16px
      cursor: pointer
      color: rgba(#000, .54)
      fill: rgba(#000, .54)

//body style
.container
  max-width: 740px
  margin-left: auto
  margin-right: auto
  padding-left: 20px
  padding-right: 20px
h1
  font-size: 42px
  line-height: 43px
  font-weight: 700
  letter-spacing: -0.63
  color: rgba(#000, .84)
  padding-top: 30px
  font-family: $family-sans
.profile
  position: relative
  display: flex
  margin-top: 24px
  margin-bottom: 24px
  &__image
    position: relative
    &--img
      border-radius: 100%
      width: 55px
      height: 55px
  &__content
    margin-left: 16px
    margin-top: 5px
    &--title
      font-size: 14px
      font-weight: 400
      line-height: 20px
      color: rgba(#000, .84)
      fill: rgba(#000, .84)
      font-family: $family-sans
    &--title a
      color: rgba(#000, .84)
      fill: rgba(#000, .84)
      text-decoration: none
    &--title .follow
      margin-left: 10px
    &--copy
      font-size: 14px
      margin-top: 5px
      color: rgba(#000, .54)
      fill: rgba(#000, .54)
      font-family: $family-sans
    &--copy .middotDivider
      &::after
        content: "\00B7"
    &--copy .readingTime
      &::after
        content: attr(title)

p
  font-size: 21px
  line-height: 34px
  font-weight: 400
  letter-spacing: -0.063
  color: rgba(#000, .84)
  &:last-child
    margin-bottom: 30px
  + p
    margin-top: 30px
.Button
	display: inline-block
	font-weight: 400
	text-align: center
	white-space: nowrap
	vertical-align: middle
	user-select: none
	border: 1px solid #867400
	padding: 5px 10px
	font-size: 16px
	line-height: 1.5
	border-radius: 4px
  font-family: $family-sans
.button--follow
  background-color: transparent
  height: 19px
  padding: 0 10px
  font-size: 14px
  line-height: 19px
  color: #867400
  text-transform: capitalize
.button--getstart
  border-color: #635200
  background-color: transparent
  color: #504000
